.pageContainer {
    width: 100%;
    height: 100%;
}

.chatContainer {
    height: 200px;
    padding-left: 20px;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto;
    background-color: #525252;
}

.chatInput {
    width: 100%;
}
