.root {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333333;
  grid-template-rows: 56px 1fr 45px;
  grid-row-gap: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.mainContent {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(500px, 600px) 1fr;
}

.leftSide {
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 1fr 40px 20px 200px;
}

.imageContainer {
  height: 100%;
  width: 100%;
  text-align: center;
}

.songText, .artistText {
  color: #b9b9b9;
  text-align: center;
}
.songText {
  font-size: 25px;
  font-weight: bold;
}

.artistText {

}

.lyricContainer {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  text-align: center;
  grid-template-areas: ". lyrics .";
}

.outerLyrics {
  grid-area: lyrics;
}

.rightSide {
  display: grid;
  grid-template-rows: 1fr 252px;
  grid-row-gap: 10px;
}

.playerContainer {
  height: 100%;
  width: 100%;
}

