.root {
  height: calc(100vh - 140px);
  width: 100vw;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.mostStuff {
  flex-direction: row;
  display: flex;
  height: 100%;
}

.playerStuff {
  flex-grow: 1;
  min-width: 450px;
  height: 100%;
}

.nonPlayerStuff {
  flex-grow: 2;
  height: 100%;
}
