.root {
  display: grid;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333333;
  grid-template-rows: 60px 1fr 70px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.mainContent {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.leftSide {
  display: grid;
  grid-template-rows: 1fr 200px;
  margin-bottom: 50px;
}

.rightSide {

}

.playerContainer {
  height: 100%;
  width: 100%;
}

