.root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px,170px);
  grid-template-rows: 25px 1fr;
}

.chatHeader {
  background-color: #3A3A3A;
}

.userHeader {
  background-color: #f6a333;
}

.userHeaderText, .chatHeaderText {
  margin: 0 0 0 5px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.chatHeaderText {
  color: #b9b9b9;
  font-weight: bold;
}

.userHeaderText {

}
