.table {
  height: 100%;
  overflow-y: auto;
}

.row {
  display: grid;
  align-items: center;
  height: 40px;
  grid-template-columns: 1fr 1fr minmax(20px, 50px);
  border-bottom: 1px solid rgba(112,112,112,0.4);
}

.topRow {
  border-bottom: 2px solid #707070;
}

.titleHeader, .artistHeader {
 color: #A19E9A;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.rowTitle, .rowArtist {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.highlight {
  color: #f6a333;
}

.clearIcon {
  color: white;
  cursor: pointer;
}

.clearIcon:hover {
  filter: brightness(0.5);
}
