.parentPlayer {
    width: 100%;
    height: 100%;
}

.player {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: '. main right';
}

.leftSide {
    height: 100%;
    width: 100%;
}

.mainContent {
    text-align: center;
    margin-top: 10px;
    grid-area: main;
}


.slider {
    height: 60px !important;
    bottom: 40px;
    right: 65px;
    position: absolute;
    color: #664315;
}

.slider span:last-child {
    color: #f6ba2a;
}


.rightSide {
    padding-left: 10px;
    grid-area: right;
}
.volumeButton {
    padding: 0;
    margin: 0;
    color: #F6A333;
}

.volumeContainer {
    width: fit-content;
}
.progress {
    height: 100%;
    display: grid;
    grid-template-rows: 10px 1fr;
}

.loaderContainer {
    height: 100%;
    border-radius: 20px;
    background-color: #676767;
}
.loader {
    height: 100%;
    border-radius: 20px;
    background-color: #F6A333;
}

.playerText {
    margin: 0;
    padding: 0;
}

.timeContainer {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas: 'current . end';
}

.currentTime {
    grid-area: current;
    font-size: 10px;
    color: white;

}

.endTime {
    grid-area: end;
    font-size: 10px;
    color: white;

}
