.parentPlayer {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: red;
}

.player {

}

.progress {
    height: 20px;
    background-color: blue;
}

.loader {
    height: 20px;
    background-color: yellow;
}
