.lobbyParent {
    display: grid;
    
}

.lobbyContainer {
    display: grid;
    height: 600px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.lobbyCard {
    width: 100%;
    height: 300px;
    background-color: #1db954;
}
