.modal {
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  width: 400px;
  height: 350px;
  position: fixed;
  margin-top: 120px;
  left: calc(50% - 200px);
  background-color: #333333;
  padding: 15px 15px 15px 15px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

.passwordModal {
  height: 300px;
  align-items: center;
}

.titleContainer {
  text-align: center;
  border-bottom: solid 1px #707070;
}

.fieldContainer {
  display: grid;
  grid-row-gap: 10px;
  border-bottom: solid 1px #707070;
}

.titleName {
  font-size: 30px;
  color: #b9b9b9;
  font-weight: bold;
  padding: 20px 0 0 0;
  margin: 0;
}

.lobbyNameField {
  width: 100%;
}

.lobbyNameContainer {
}

.lobbyPasswordContainer {
  height: 37px;
}

.lobbyPasswordField {
  width: 100%;
}

.checkContainer {
  text-align: center;
  color: #b9b9b9;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.checkBox {
  color: #f6a333 !important;
}

.createButton {
  background-color: #f6a333;
  color: #202120;
}

.createButton:hover {
  background-color: #f6a333;
  filter: brightness(0.8);
}

.cancelButton {
  background-color: #b9b9b9;
}

.cancelButton:hover {
  background-color: #b9b9b9;
  filter: brightness(0.8);
}

.passwordButtonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.lobbyValidation {
  text-align: center;
  color: #b9b9b9;
  margin: 0;
}
