.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  position: fixed;
  margin-top: 80px;
  left: calc(50% - 300px);
  background-color: white;
  padding: 15px 15px 15px 15px;
  font-family: 'Roboto', sans-serif;
}
